<%= form_with scope: :stuff, url: update_stuff_url, method: 'patch', local: true do |form|%>
  <p>
    <%= form.label :requester, "Requester: #{@stuff.user.username}" %>
  </p>

  <p>
    <%= form.label :category, "Category: #{@stuff.category.category_name}" %>
  </p>

  <p>
    <%= form.label :stuff_name, "Name: #{@stuff.stuff_name}" %>
  </p>

  <p>
    <%= form.label :status, "Status (#{@stuff.status}): "%>
    <%= form.select :status, status(@stuff.status)%>
  </p>

  <%= form.submit 'Edit'%>
<% end %>