<% if @stuff.any? %>
  <table>
    <thead>
      <tr>
        <td> | <th>Requester | </th></td>
        <td><th>Name | </th></td>
        <td><th>Category | </th></td>
        <td><th>Status | </th></td>
      </tr>
    </thead>

    <tbody>
      <% @stuff.each do |stuff| %>
        <% category = stuff.category.category_name %>
        <tr>
          <td> | <%= stuff.user.full_name %> | </td>
          <td><%= stuff.stuff_name %> | </td>
          <td>
            <div style="<%=category_color.fetch(:"#{category}")%>">
              <%= category %> 
            </div>
          </td>
          <td> | <%= stuff.status %> | </td>
          <%if logged_in?%>
            <td><%= link_to 'Edit', edit_stuff_path(stuff.id) %> | </td>
            <td><%= link_to 'Comment', comments_index_path(stuff.id)%> | </td>
          <%end%>
        </tr>
      <%end%>
    </tbody>
  </table>
<% else %>
  <h5>No office stuff yet</h5>
<% end %>