<div>
  <%= form_with scope: :filter, url: root_path, method: 'get', local: true do |form|%>
    <%= form.select :status, status_options, class: "browser-default"%>
    <%= form.select :category, categories_options, class: "browser-default"%>
    <%= form.submit 'Filter'%>
  <%end%>
</div>

<div>
  <%= render 'stuff_list'%>
</div>