<div>
  <%= form_with scope: :comment, url: create_comment_url(params[:id]), method: :post, local: true do |form| %>
    
    <% if flash[:alert]%>
      <%= flash[:alert]%>
    <% end %>
    
    <p>
      <%= form.label :comment %><br>
      <%= form.text_area :comment, size: '40x5'%>
    </p>

    <%= form.submit "Share comment"%>
  <% end %>
</div>