<h1>New Comment in your requested stuff: "<%= @stuff.stuff_name%>"</h1>

<p>
  Hi <%= @user.full_name%>: <br/>

  <%= @comment.user.full_name%> has been commented a requested stuff by you: <br/>
    - Requested stuff: <%= @stuff.stuff_name%>. <br/>
    - Comment at: <%= @comment.created_at%>. <br/>
    - Content:<br/>
        "<%= @comment.comment%>".<br/>
</p>

<p>
  To access to the comment please visit <%= @url%> and login. 
</p>

<p>Have a good day</p>