<%= form_with scope: :user, url: update_profile_path, methdo: :post, local: true do |form|%>
  
  <% if @user.errors.any?%>
    <div class="error">
      <h3>
        <%= pluralize(@user.errors.count, "error")%>
        Error while updating profile.
      </h3>

      <ul>
        <% @user.errors.full_messages.each do |msg|%>
        <li><%= msg%></li>
        <%end%>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :full_name, 'Your name:' %>
    <%= form.text_field :full_name, value: @user.full_name %>
  </p>

  <p>Admin: <%= @user.admin?%></p>

  <p>
    <%= form.label :username, 'Username:' %>
    <%= form.text_field :username, value: @user.username %>
  </p>

  <p>
    <%= form.label :email, 'Email:' %>
    <%= form.text_field :email, value: show_email(@user.email) %>
  </p>

  <%= form.submit 'Update profile'%>
<% end %>