<h1>Change of "<%= @stuff.stuff_name%>" status</h1>

<p>
  Hi <%= @stuff.user.full_name%>:<br/>

  Your stuff "<%= @stuff.stuff_name%>" has now a status of
  <%= @stuff.status%>.
</p>

<p>For more details of your request please check <%= @url%>.</p>

<p>Have a nice day</p>